*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0e0700;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100dvh;
}

h1, h2, h3, p {
  margin: 0;
}
